.advantages {
  background: url("../../img/phone-smile.png") no-repeat center bottom, url("../../img/advantages-background.svg") no-repeat center;
  min-height: 900px;
  // временное решение для удобного просмотра
  text-align: center;
}

.advantages__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
}

.advantages__image {
  display: none;
}
