.download {
  margin-top: -71px;
  color: @basic-white;
  font-weight: 300;
  text-align: center;
  background: url("../img/ihand-mobile.png") no-repeat center top 182px, url("../img/back-mobile.png") no-repeat center bottom 268px;
  background-size: auto, 100%;
  background-color: @blue-charcoal;
  padding: 23px 20px 30px 16px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/ihand-mobile@2x.png"), url("../img/back-mobile@2x.png");
    background-size: 320px, 100%;
  }

  @media (min-width: @tablet-width) {
    margin-top: -112px;
    padding-top: 94px;
    padding-bottom: 102px;
    background: url("../img/ihand-tablet.png") no-repeat bottom, url("../img/back-tablet.png") no-repeat center top 0;
    background-size: 660px, cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/ihad-tablet@2x.png"), url("../img/back-tablet@2x.png");
      background-size: 660px, 101%;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 97px 102px 115px;
    background: url("../img/ihand-desktop.png") no-repeat bottom, url("../img/back-desktop.png") no-repeat center top;
    background-size: 1052px, 101%;
    background-position: 98% 100%, 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/ihand-desktop@2x.png"), url("../img/back-desktop@2x.png");
      background-size: 1052px, 101%;
    }
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: 620px;
  padding-top: 66px;

  @media (min-width: @tablet-width) {
    margin-right: 317px;
    min-height: inherit;
    padding-top: 112px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 641px;
  }
}

.download__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;
  padding-top: 6px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-left: 44px;
    font-size: 40px;
    padding-right: 42px;
    line-height: 48px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 69px;
    padding-left: 4px;
    padding-top: 2px;
  }
}

.download__list {
  margin: 0;
  padding-left: 6px;
  list-style: none;
  margin-top: 34px;
  display: flex;
  width: 230px;
  justify-content: center;
  gap: 35px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 46px;
    margin-right: 4px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
  }
}

.download__button {
  width: 273px;
  border: 3px solid @basic-white;
  border-radius: 29px;
  color: @basic-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 343px;
  padding: 16px 0;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    padding: 16px 9px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 36px;
    font-size: 21px;
    line-height: 18px;
  }
}

.download__button:hover,
.download__button:focus {
  background-color: @basic-white;
  color: @cerise;
}

.download__button:active {
  color: @cerise-shadow;
}

.download__explain {
  margin: 0;
  padding-top: 12px;
  width: 286px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin: 0;
    padding: 24px 0 12px 0;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    padding: 42px 0 12px 0;
  }
}
