.download {
  color: @basic-white;
  font-weight: 300;
  text-align: center;
  background: url("../../img/ihand.png") no-repeat bottom, url("../../img/back-mobile.jpg") no-repeat center;
  background-color: @blue-charcoal;
  padding: 51px 20px 89px 16px;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-bottom: 181px;
  }

  @media (min-width: @desktop-width) {
    padding: 111px 192px 139px;
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-right: 277px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 647px;
  }
}

.download__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 69px;
  }
}

.download__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.download__button {
  width: 280px;
  border: 3px solid @basic-white;
  border-radius: 29px;
  color: @basic-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
