.page-footer {
  text-align: center;
  padding: 40px 20px 40px 20px;

  @media (min-width: @tablet-width) {
    padding-top: 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 130px 75px 130px;
    display: flex;
    justify-content: center;
  }
}

.page-footer__wrapper {
  display: grid;
  align-items: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}
