.reviews {
  text-align: center;
}

.reviews__text {
  line-height: 30px;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.reviews__author-data {
  line-height: 30px;
}
