.reviews {
  text-align: center;
}

.reviews__wrapper {
  padding: 41px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding: 22px 20px 15px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 130px 32px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 700px;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 700px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/quote.svg") no-repeat;
      top: 19px;
      left: 45%;
      width: 79px;
      height: 63px;
    }
  }
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-top: 51px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 134px;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 36px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-data {
  margin: 0;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding-top: 2px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__previous,
.reviews__next {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.reviews__toggles {
  padding-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;


  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
