.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  @media (min-width: @desktop-width) {
    padding: 0;
    gap: 6px;
  }
}


.social__link {
  width: 48px;
  height: 48px;
  background-color: @basic-white;
  margin: 0;
  border: 3px solid @whisper;
  display: flex;
  border-radius: 50%;
  justify-content: center;
}

.social__link:active {
  opacity: 0.3;
}

.social__link:hover,
.social__link:focus {
  border: 3px solid @dusky-blue-gray;
}

.social__twitter {
  fill: @cerise;
  padding: 17px 0 0 15px;

  @media (min-width: @tablet-width) {
    padding: 18px 0 0 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 0 0 16px;
  }
}

.social__facebook {
  fill: @cerise;
  padding: 15px 0 0 20px;

  @media (min-width: @tablet-width) {
    padding: 16px 0 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 0 0 20px;
  }
}

.social__youtube {
  fill: @cerise;
  padding: 18px 0 0 19px;

  @media (min-width: @tablet-width) {
    padding: 19px 0 0 19px;
  }

  @media (min-width: @desktop-width) {
    padding: 19px 0 0 18px;
  }
}
