.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  @media (min-width: @desktop-width) {
    gap: 6px;
  }
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: @cerise;
  border-radius: 50%;
  margin: 0;
  border: 3px solid @whisper;
}
