.table {
  text-align: left;
  border-collapse: collapse;
  background-color: @basic-white;
}

.table__title {
  background-color: @dusky-blue-gray;
  text-align: center;
  color: @basic-white;
  border: 2px solid @dusky-blue-gray;
}

.table__name {
  font-size: 16px;
  line-height: 30px;
}

.table__price {
  font-size: 18px;
  line-height: 30px;
}
