.tariffs {
  text-align: center;
  text-transform: uppercase;
  background: url("../../img/table-background.svg") no-repeat center;
}

.tariffs__wrapper {
  padding: 127px 0 100px 0;
  overflow-x: hidden;

  @media (min-width: @tablet-width) {
    padding: 114px 20px 70px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 159px 130px 98px 130px;
  }
}

.tariffs__table {
  margin: auto;
}

.tariffs__toggles {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
