.toggles {
  margin: 0;
}

.toggles__button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @dusky-blue-smoke;
  cursor: pointer;
  padding: 0;
  border: none;
  font-size: 0;
  margin: 0 9px 0 10px;
}

.toggles__button--current {
  box-shadow: 0 0 0 3px @dusky-blue-gray;
  background-color: transparent;
}
