.catalog__title {
  font-size: inherit;
  font-weight: inherit;
  line-height: 30px;
}

.catalog__item {
  background-color: @white-smoke;
}

.catalog__container {
  padding: 0 20px 0 20px;
}

// .catalog__item-panorama {
//   padding: 0 20px 0 20px;
// }
