.form-toggle__filter {
  border: none;
  margin: 0;
  padding: 0;
}

.form-toggle__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-toggle__button {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.form-toggle__button--submit {
  border: 3px solid @cerise;
  color: @cerise;
}

.form-toggle__button--reset {
  border: 3px solid @dusky-shadow-light;
  color: @dusky-shadow-light;
}
