
.form-toggle__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 12px 0 50px 0;
    margin: 0 auto;
    background-color: @white-smoke;
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-bottom: 31px;
  }
}

.form-toggle__filter {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  &::after {
    background-color: @dusky-blue-shadow;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    top: 154px;
    overflow: hidden;
    position: absolute;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    justify-content: space-around;
    min-width: 275px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    padding-left: 87px;
  }
}

.form-toggle__list {
  padding: 30px 0 0 34px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-areas: "cut fill contrast";
  width: 240px;
  margin: 0 auto;
  gap: 27px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 48px 0 0 0;
    margin: 0;
    width: 100%;
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    row-gap: 18px;
    margin-bottom: 0;
    padding-top: 34px;
    padding-left: 2px;
  }
}

.form-toggle__item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 13px 0 0 0;
    column-gap: 31px;

    &::after {
      background-color: @dusky-blue-shadow;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      top: 64px;
      overflow: hidden;
      position: absolute;

      @media (min-width: @desktop-width) {
        width: 410px;
        top: 65px;
      }
    }

    @media (min-width: @desktop-width) {
      align-items: center;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    column-gap: 0;
  }
}


.form-toggle__item--cut {
  grid-area: cut;

  @media (min-width: @tablet-width) {
    padding: 13px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form-toggle__item--cut .form-toggle__input,
.form-toggle__item--fill .form-toggle__input {
  @media (min-width: @desktop-width) {
    margin-top: 6px;
  }
}

.form-toggle__item--fill {
  grid-area: fill;

  @media (min-width: @tablet-width) {
    padding: 14px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form-toggle__item--contrast {
  grid-area: contrast;

  @media (min-width: @tablet-width) {
    padding: 11px 0 0 0;
  }

  &::after {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form-toggle__item .form-toggle__input {
  display: none;
  position: absolute;
  left: -16px;

  @media (min-width: @tablet-width) {
    display: inline;
    position: inherit;
    left: 0;
  }
}

.form-toggle__item--active .form-toggle__input {
  display: inline;
}

.form-toggle__input {
  grid-area: toggle-range;
  appearance: none;
  width: 240px;
  height: 2px;
  background-color: @dusky-blue-gray;
  margin: 88px 0 0 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 43px;
    width: 288px;
  }
}

.form-toggle__input::-webkit-slider-thumb {
  background: @basic-white;
  border: 2px solid @cerise;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;
  appearance: none;
  margin-top: 1px;

  @media (min-width: @desktop-width) {
    margin-left: 1px;
  }
}

.form-toggle__item--fill .form-toggle__input::-webkit-slider-thumb {
  @media (min-width: @desktop-width) {
    margin-left: -2px;
  }
}

.form-toggle__item--contrast .form-toggle__input::-webkit-slider-thumb {
  @media (min-width: @desktop-width) {
    margin-left: -3px;
  }
}

.form-toggle__input::-moz-range-thumb {
  background: @basic-white;
  border: 2px solid @cerise;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;
  appearance: none;
}

.form-toggle__icon {
  display: inline-block;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.form-toggle__item--cut .form-toggle__icon {
  background-image: url("../../../img/cut.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    background-size: 22px 22px;
    background-position: 4px 0;
  }

  @media (min-width: @desktop-width) {
    background-position: 1px 4px;
    background-size: inherit;
  }
}

.form-toggle__item--fill .form-toggle__icon {
  background-image: url("../../../img/fill.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  opacity: 30%;

  @media (min-width: @tablet-width) {
    background-size: 24px 24px;
    background-position: 3px 0;
    opacity: inherit;
  }

  @media (min-width: @desktop-width) {
    background-position: 1px 4px;
    background-size: inherit;
  }
}

.form-toggle__item--contrast .form-toggle__icon {
  background-image: url("../../../img/contrast.svg");
  background-repeat: no-repeat;
  background-position: 8px 6px;
  opacity: 30%;

  @media (min-width: @tablet-width) {
    background-size: 16px 16px;
    background-position: 7px 3px;
    opacity: inherit;
  }

  @media (min-width: @desktop-width) {
    background-position: 7px 7px;
    background-size: inherit;
  }
}

.form-toggle__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 108px 0 41px 0;

  @media (min-width: @tablet-width) {
    padding: 90px 0 6px 0;
    gap: 4px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 155px 0 7px 3px;
    gap: 44px;
  }
}

.form-toggle__button {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.form-toggle__button--submit {
  border: 3px solid @cerise;
  color: @cerise;
  padding: 16px 0 15px 0;
  margin: 0 0 12px 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin: 0 12px 20px 0;
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 183px;
  }
}

.form-toggle__button--reset {
  border: 3px solid @dusky-shadow-light;
  color: @dusky-shadow-light;
  padding: 15px 104px 17px 100px;

  @media (min-width: @tablet-width) {
    padding: 16px 0 15px 0;
    margin: 0 14px 24px 0;
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 183px;
  }
}

.form-toggle__image {
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
    padding-top: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;
    padding-left: 80px;
  }
}
