
.photo-tool__wrapper {
  padding-top: 43px;

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.photo-tool__text {
  background-color: @basic-white;
  margin: 0;
  line-height: 30px;
  padding: 0 20px 42px 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 22px 20px 70px 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
    padding-bottom: 67px;
  }
}

.photo-tool__form {
  background-color: @white-smoke;

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}
