.post__wrapper--panorama {
  // padding: 0 20px 0 20px;
  background-color: @white-smoke;
}

.post__container-panorama {
  padding: 0 20px 0 20px;
}

.post__wrapper {
  text-align: left;
}

.post__author {
  font-weight: 700;
}

.post__note {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.post__likes {
  color: @cerise;
  font-size: 12px;
  text-transform: uppercase;
}
