// используемые цвета

@dusky-blue-gray: #283645;
@dusky-blue-shadow: rgba(40, 54, 69, 0.1);
@dusky-blue-smoke: rgba(40, 54, 69, 0.3);
@dusky-blue-fog: rgba(40, 54, 69, 0.6);
@dusky-shadow: rgba(40, 54, 69, 0.3);
@dusky-shadow-light: rgba(40, 54, 69, 0.1);
@white-smoke: #f2f2f2;
@basic-white: #ffffff;
@basic-white-shadow: rgba(255, 255, 255, 0.3);
@blue-charcoal: #1D2631;
@whisper: #E5E5E5;
@cerise: #D22856;
@cerise-shadow: rgba(210, 40, 86, 0.3);
@medium-sea-green: #2AAB6D;
@sea-green: #1C9B5E;
@basic-black: #000000;
@transparency: rgba(0, 0, 0, 0.3);
@breake-shadow: rgba(255, 255, 255, 0.15);
@modal-shadow: 0 7px 15px 0 rgb(0 1 1 / 15%);
@fieldsed-error: red;

// брейкпоинты

@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-width-only: 659px;
@tablet-width-only: 1199px;
