.button {
  color: @basic-white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  background-color: @medium-sea-green;
  border: 2px solid @medium-sea-green;
  border-radius: 1px;
  width: 100%;
  text-transform: uppercase;
  padding: 15px 0 14px 0;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 300px;
    padding-right: 3px;
  }
}

.button:hover,
.button:focus {
  background-color: @sea-green;
  border: 2px solid @sea-green;
}

.button:active {
  color: @basic-white-shadow;
}

.button:disabled {
  background-color: @whisper;
}
