.checkbox-fieldset {
  border: none;
}

.checkbox-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checkbox-fieldset__title {
  color: @cerise;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
}

.checkbox-fieldset__label {
  font-size: 18px;
  line-height: 30px;
  color: @dusky-blue-gray;
}
