.contest-form {
  padding: 0;
  display: grid;
  grid-template-columns: minmax(280px, 1fr);
  grid-template-areas:
    "member-data"
    "checkbox-fieldset"
    "member-contacts"
    "radio-fieldset"
    "textarea-fieldset"
    "button";

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas:
      "member-data member-data"
      "radio-fieldset radio-fieldset"
      "member-contacts member-contacts"
      "checkbox-fieldset checkbox-fieldset"
      "textarea-fieldset textarea-fieldset"
      "button button";
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 435px);
    grid-template-areas:
      "member-data radio-fieldset"
      "member-contacts member-contacts"
      "checkbox-fieldset checkbox-fieldset"
      "textarea-fieldset textarea-fieldset"
      "button button";
    column-gap: 70px;
    width: 940px;
    margin: 0 auto;
  }
}

.contest-form__fieldset-wrapper {
  padding: 0 20px 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-bottom: 3px;
  }
}

.contest-form__fieldset-wrapper--member {
  grid-area: member-data;
}

.contest-form__fieldset-wrapper--achievements {
  grid-area: checkbox-fieldset;
  background-color: @white-smoke;

  @media (min-width: @tablet-width) {
    background-color: inherit;
    padding-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 25px;
  }
}

.contest-form__fieldset-wrapper--contacts {
  grid-area: member-contacts;
}

.contest-form__fieldset-wrapper--radio {
  grid-area: radio-fieldset;
  background-color: @white-smoke;

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }
}

.contest-form__fieldset-wrapper--textarea {
  grid-area: textarea-fieldset;
}

.contest-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
    position: relative;
  }
}

.contest-form__button-wrapper {
  grid-area: button;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding-top: 66px;
    gap: 87px;
    padding-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 62px;
    padding-bottom: 0;
    width: 100%;
    height: 63px;
  }
}

.contest-form__button {
  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.contest-form__note {
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 34px 0 0 61px;
  position: relative;

  &::before {
    position: absolute;
    content: "*";
    top: 34px;
    left: 49px;
    color: @cerise;

    @media (min-width: @tablet-width) {
      top: 18px;
      left: 51px;
    }

    @media (min-width: @desktop-width) {
      top: 18px;
      left: 39px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 17px 0 0 62px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 0 0 50px;
  }
}

.contest-form__point {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
