.contest-form {
  padding: 0 20px 0 20px;
}

.contest-form__fieldset-wrapper {
  background-color: @white-smoke;
}

.contest-form__note {
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__point {
  color: @cerise;
}
