.modal-success {
  text-align: center;
  padding: 0 20px 0 20px;
  display: none;
}

.modal-success__title {
  font-size: 18px;
  line-height: 24px;
  color: @basic-black;
}

.modal-success__button-wrapper {
  background-color: @white-smoke;
}
