.radio-fieldset {
  margin: 0;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.radio-fieldset__list {
  margin: 0;
  padding: 39px 0 32px 70px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  gap: 45px;

  @media (min-width: @tablet-width) {
    padding: 57px 0 43px 119px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 0 43px 133px;
    gap: 46px;
  }
}

.radio-fieldset__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;

  @media (min-width: @tablet-width) {
    gap: 31px;
  }
}

.radio-fieldset__title {
  padding-top: 39px;
  color: @cerise;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    position: absolute;
    top: -8px;
    left: 125px;
    width: 366px;
    display: block;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    left: 33px;
  }
}

.radio-fieldset__label {
  font-size: 18px;
  line-height: 30px;
  position: relative;
  display: block;
  cursor: pointer;
}

.radio-fieldset__input + label::after,
.radio-fieldset__input + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}

.radio-fieldset__input + label::before {
  left: -68px;
  top: -3px;
  width: 37px;
  height: 37px;
  border: 2px solid @whisper;
  background: @basic-white;


  @media (min-width: @tablet-width) {
    left: -59px;
  }
}

.radio-fieldset__input + label::after {
  top: 8px;
  left: -57px;
  width: 15px;
  height: 15px;
  background: @cerise;
  display: none;

  @media (min-width: @tablet-width) {
    left: -48px;
  }
}

.radio-fieldset__input:checked + label::after {
  display: block;
}

.radio-fieldset__input:hover + label::before {
  border-color: @dusky-blue-gray;
}

.radio-fieldset__input:focus + label::before,
.radio-fieldset__input:active + label::before {
  border-color: @cerise;
}
